BasedOnStyle: LLVM

UseTab: Never
IndentWidth: 4
ColumnLimit: 80

IndentCaseLabels: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  SplitEmptyFunction: true

BinPackParameters: false
BinPackArguments: false 

AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveAssignments: false
AllowShortIfStatementsOnASingleLine: true
SortIncludes: false
